{% extends "base.html" %}
{% load i18n static %}

{% block navbar %}{% endblock navbar %}

{% block content %}

<form class="form-signin" method="POST" enctype="multipart/form-data">  
    {% csrf_token %} 
    {% for field in form %}
        <div class="form-group">
            <label class="col control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="col">
                {{ field }}
                {% if field.help_text %}
                    <p><em>{{ field.help_text }}</em></p>
                {% endif %}
                {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <button class="btn btn-lg btn-primary btn-block mt-4 mb-3" type="submit">Register</button>
</form>  

{% endblock content %}
